.v-list-item__prepend > .v-badge ~ .v-list-item__spacer,
.v-list-item__prepend > .v-icon ~ .v-list-item__spacer,
.v-list-item__prepend > .v-tooltip ~ .v-list-item__spacer {
    width: 10px !important;
}


.v-list-group__items .v-list-item {
    padding-inline-start: calc(16px + 20px) !important;
}

.v-data-table__thead > tr > th {

    font-weight: 600 !important;
    color: #888 !important;
}

